/*generics*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body{
    font-family: sans-serif;
}

/*utilities*/
.flex{
    display: flex;
}



.wrap{
    flex-wrap: wrap;

}



.row{
    flex-direction: row;
}


.button{
    
    color: white;
    background-color: hsl(217deg 100% 50%);
    padding: 5px 14px;
    border: none;
}

.space-between{
    justify-content: space-between;

}


.column{
    flex-direction: column;



}


.center{
    justify-content: center;
}

/*main*/


/*header*/



header{
    color: hsl(0deg 0% 33%);
    padding: 20px;
    position: fixed;
    height: 70px;
    background-color: white;
    width: 100%;
   z-index: 100;



}


nav{
    line-height: 100%;
    vertical-align: middle;
    align-items:center ;
    gap: 20px;
}

.header-utilities{
    gap: 20px;
    color: #5a5a5a;
}


a{
    color:  #5a5a5a;
}
.nav-links{
    align-items: center;
    color: #5a5a5a;
}



#jumbotron{
    background-color: #b4d0e7;
    padding-top: 100px;
}



#jumbotron-container,.footer-s{
    width: 60vw;
    margin: 0 auto;
    
    


}




#price-container,#enterprise,#partnership,#Dropbox-business,#drop-box-teams,#faq {
    width: 50vw;
    margin: 0 auto;

}


#jumbotron-button{
     margin-top: 30px;

}


h1{
    align-self: center;
    font-size: 4.5rem;
    line-height: 75px;
    font-weight: 600;
   
}



#jumbo-image-container{
   width: 70%;
    
    
}


#jumbo-description{
    width: 30%;
    padding-top:20px ;
    font-size: 0.9rem;
    
}



#jumbo-image{
    height: 100%;
    width: 100%;
    position: relative;
    top: 50px;
    
    
}
    



#business-plans{
    margin-top: 120px;

}


label{
    padding-right: 30px;
}

#business-h2{
    font-size: 2rem;
    margin-bottom: 50px;
}


#tables{
    gap: 40px;
    margin-top: 40px;
}



.tables-column{
    width: calc(100% / 3);
    border: 1.5px solid #d5d5d7;
    
}

.column-head{
    border-bottom: 1.5px solid  #d5d5d7 ;
    text-align: center;
    padding: 10px;
}

.columns-padding > div{
    
   
    padding-left: 30px;
    padding-right: 30px;
}


ul{
    list-style-type: none
    ;
}


.w-button{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    ;
}



.a-business{
    text-decoration: underline;
    color: blue;
}

#enterprise{



    margin-top: 50px;


}

#table-row{
    width: 100%;
    border: 1.5px solid #d5d5d7;
    margin-bottom: 100px;
    
}


#partner-image{
    width: 100%;
    height: 100%;
}


.column-list{
    height: 130px;
    margin-bottom:  30px;
    margin-top: 20px;
    font-size: 0.8rem;
    
}


.business-row{
    padding: 30px;

}

.business-span{
    font-size: 0.8rem;
    padding-left: 30px;



}
.padding-list{
    
padding-top: 30px;
padding-bottom: 30px;
font-size: 0.8rem;


}



#padding-div-row{
    padding-bottom: 20px;
    font-size: 0.8rem;
}


.business-images{
    width: 100%;
    height: 100%;
}


.hr-business{
    
    width: 20%;
    height: 1px;
    background-color: #717173;
    border: none;
    margin-top: 20px;
    margin-left:   30px;
}

span{
    display: block;
    padding-top: 30px;
}


.cards{
    width: calc(100% / 3  );
}


#partnership{
    gap: 50px;
}





#partner-image-container{
   width: 30%;

}

li{
   padding: 7px 0px;

}




.blocks{
    background-color:white;
    width: calc(100% / 3);
    height: 30vw;
}




.w-h{
    
    height: 15vw;
    width: calc(100% / 2);
    line-height: 15vw;
    vertical-align: middle;
    text-align: center;
}


#a{
    background-color: #a2d39b;
}


#b{
    background-color: #61082b;
}

#c{
    background-color: #0093ce;
}

#d{
    background-color: #ff1c1c;
}

#e{
    background-color: #d5001f;
}

#f{
    background-color: #b4d0e7;
}

#g{
    background-color: #0d2481;
}

#h{
    background-color: #ffd830;
}

.img-w-h{
    width: 50%;
    height: 50%;
    line-height: 15vw;
    vertical-align: middle;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(337deg) brightness(104%) contrast(102%);
}

#c-h{
    height: 15%;
    
}

#hr-block{
    width: 7vw;
    height: 2px;
    background-color: #717173;
    border: none;
  
}

#Desgnit{
    width: 70%;
    height: 70%;
}


.padding-element{
    background-color: #f5f5f5;
}

.padding-element> div, p{
    padding-top: 30px;

}


.padding-element> p,hr{
    margin-left:45px ;
    margin-right: 30px;
}


#Free-Tryal{
    background-color:#b4d0e7 ;
    align-items: center;
    padding: 85px 0px;
    gap: 150px;
}



#h2-tryal{
    color: #61082b;
    font-size: 2rem;
    
}

.hr-faq{
    width: 100%;
    border-style: none;
    background-color:  #717173;;
    height: 1px;
    border: none;
    margin-left: 30px;
  }

#ul-faq, #ul-faq> li{
     padding: 30px;
    list-style-type: none;

}

#h2-faq{
    padding: 30px 60px;
}


footer{
    background-color: black;
    color: white;
}

.h2-footer{
    font-size: 1.5rem;
    padding: 15px 0px;
    

}

a{
    text-decoration: none;

}


.footer-container{
    margin: 30px;
}

.footer-container> a{
    padding: 15px 0px;
    font-size: 0.8rem;
    color: white;
}

#hr-footer{
    width: 7vw;
    height: 1px;
    border: none;
    margin-top: 40px;
    
    background-color: white;
}


.footer-language{
    height: 100px;
    background-color: black;
}